#version:

environment:
  matrix:
    - generator: "Visual Studio 12 Win64"
      ARCH: "Win64"
      Compiler: "MSVC2013"
    - generator: "Visual Studio 12"
      ARCH: "Win32"
      Compiler: "MSVC2013"

#cache:

configuration:
  #- Debug
  - Release

#branches:
#  only:

shallow_clone: true

# scripts that are called at very beginning, before repo cloning
#init:

#before_build:

# scripts that run after cloning repository
install:
  - cd C:\projects\freecad
  - ps: if ($env:ARCH -eq 'Win64') {
      Start-FileDownload https://github.com/sgrogan/FreeCAD/releases/download/0.17-med-test/FreeCADLibs_11.5.1_x64_VC12.7z;
      7z x FreeCADLibs_11.5.1_x64_VC12.7z > nul;
      ren FreeCADLibs_11.5_x64_VC12 FreeCADLibs;
    }
    elseif ($env:ARCH -eq 'Win32') {
      Start-FileDownload https://github.com/sgrogan/FreeCAD/releases/download/0.17-med-test/FreeCADLibs_11.5.1_x86_VC12.7z;
      7z x FreeCADLibs_11.5.1_x86_VC12.7z > nul;
      ren FreeCADLibs_11.5_x86_VC12 FreeCADLibs;
    }
    - dir

build_script:
  - cd C:\projects\freecad
  - mkdir build
  - cd build
  - cmake -DFREECAD_LIBPACK_DIR=C:\projects\freecad\FreeCADLibs
    -DBUILD_FEM_NETGEN=OFF
    -G "%generator%" ..
  - mkdir bin
  - xcopy C:\projects\freecad\FreeCADLibs\bin C:\projects\freecad\build\bin /E /Q
  - msbuild /m FreeCAD_Trunk.sln

#after_build:
  - cd C:\projects\freecad\build\bin\
  - FreeCADCmd.exe --run-test 0

#artifacts:

test: off  # to avoid discovering tests

#
# The following section automatically uploads artifacts
# whenever a tag is created on the master branch.
#
#deploy:
